doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 404 - Cosider
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='vendors/bootstrap-icons/bootstrap-icons.css')
  link(rel='stylesheet' href='css/app.css')
  link(rel='stylesheet' href='css/pages/error.css')
#error
  .error-page.container
    .col-md-8.col-12.offset-md-2
      img.img-error(src='images/samples/error-404.png' alt='Not Found')
      .text-center
        h1.error-title NOT FOUND
        p.fs-5.text-gray-600 La page que vous recherchez n'existe pas..
        a.btn.btn-lg.btn-outline-primary.mt-3(href='/') Retour a la page d'acceuil
