doctype html
head
  -var khtek
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Rediger commande
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='stylesheet' href='/vendors/choices.js/choices.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/bootstrap.css')

  link(rel='stylesheet' href='/vendors/perfect-scrollbar/perfect-scrollbar.css')
  link(rel='stylesheet' href='/vendors/bootstrap-icons/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/app.css')
  link(rel='stylesheet' href='vendors/fontawesome/all.min.css') 
  link(rel='shortcut icon' href='/images/favicon.svg' type='image/x-icon')
#app
  #sidebar.active
    .sidebar-wrapper.active
      .sidebar-header
        .d-flex.justify-content-between
          .logo
            a(href='../')
              img(src='/images/logo/logo.png' alt='Logo' srcset='')
          .toggler
            a.sidebar-hide.d-xl-none.d-block(href='#')
              i.bi.bi-x.bi-middle
      .sidebar-menu
        ul.menu
          li.sidebar-item
            a.sidebar-link(href='../')
              i.bi.bi-grid-fill
              span Acceuil
          li.sidebar-item
            a.sidebar-link(href='/Consultation')
              i.bi.bi-file-earmark-medical-fill
              span Consulter les processus
          li.sidebar-item
            a.sidebar-link(href='/fdemande')
              i.bi.bi-pen-fill
              span Faire une demande
          li.sidebar-item
            a.sidebar-link(href='/Encours')
              i.bi.bi-collection-fill
              span Demandes en cours
          li.sidebar-item.active
            a.sidebar-link(href='/traiter')
              i.bi.bi-collection-fill
              span Demandes a traiter             

          li.sidebar-item
            a.sidebar-link(href='/Historique')
              i.bi.bi-stack
              span Historique
          li.sidebar-item
            a.sidebar-link(href='logout')
              i.fa.fa-sign-out-alt(aria-hidden='true')
              span Se déconnecter                
      button.sidebar-toggler.btn.x
        i(data-feather='x')
  #main
    header.mb-3
      a.burger-btn.d-block.d-xl-none(href='#')
        i.bi.bi-justify.fs-3
    .page-heading
      .page-title
        .row
          .col-12.col-md-6.order-md-1.order-last
            h3 Traiter demande
            p.text-subtitle.text-muted
              | Demander des fichiers, des mat&eacute;riaux, des n&eacute;cessit&eacute;s et bien plus au bout d&apos;un clic
          .col-12.col-md-6.order-md-2.order-first
            nav.breadcrumb-header.float-start.float-lg-end(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='../') Acceuil
                li.breadcrumb-item 
                  a(href='/traiter') Demandes a traiter
                li.breadcrumb-item.active(aria-current='page') Traiter demande
      section.section
        .card
          .card-header
            h4.card-title Remplir le formulaire
          .card-body
            p
              |  Remplire les bons de commandes,pv de reception, pv de remise et l'ordre de paiment
            .list-group.list-group-horizontal-sm.mb-1.text-center(role='tablist')
              a#list-sunday-list.list-group-item.list-group-item-action.active(data-bs-toggle='list' href='#list-sunday' role='tab') Rediger Bon de Commande
              a#list-monday-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-monday' role='tab') Rediger ordre de paiment
              a#list-tuesday-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-tuesday' role='tab') Rediger Pv de reception
              a#list-wednesday-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-wednesday' role='tab') Rediger Pv de remise
            .tab-content.text-justify
              #list-sunday.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-sunday-list')
                .card-content
                  .card-body
                    form#varcommande.form.form-horizontal
                      .form-body
                        .row
                          .col-md-3
                            label Date
                          .col-md-9.form-group
                            input#date.form-control(type='date' name='date' placeholder='date')
                          .col-md-3
                            label Date livraison
                          .col-md-9.form-group
                            input#dateliv.form-control(type='date' name='date' placeholder='date livraison')                            
                          .col-md-3
                            label Fournaisseur
                          .col-md-9.form-group
                            input#fournaisseur.form-control(type='text' name='type' placeholder='Fournaisseur')
                          .col-md-3
                            label Lieu
                          .col-md-9.form-group
                            input#lieu.form-control(type='text' name='service' placeholder='lieu de livraison')
                          .col-md-3
                            label Condition
                          .col-md-9.form-group
                            input#condition.form-control(type='text' name='service' placeholder='Condition de livraison')                            
                            label
                          hr
                          strong Remplire les champs 
                          hr 
                          
                             
                          .col-md-3
                            .form-group
                              label Description
                              .input-group
                                label#basic-addon1.input-group-text 1
                                select#choice.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle

                          .col-md-2
                            .form-group
                              label Unité
                              input#ut.form-control.round(type='text' placeholder='' )
                          .col-md-2
                            .form-group
                              label Quantité
                              input#qts.form-control.round(type='text' placeholder='' onkeyup='CalcCosts()')
                          .col-md-2
                            .form-group
                              label prix
                              input#prix.form-control.round(type='text' placeholder='' onkeyup='CalcCosts()') 
                          .col-md-3
                            .form-group
                              label prix tot
                              input#prixtot.form-control.round(type='text' placeholder='')                               
                          .col-md-3
                            .form-group
                              label 
                              .input-group
                                label#basic-addon1.input-group-text 2
                                select#choice1.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle

                          .col-md-2
                            .form-group
                              label 
                              input#ut1.form-control.round(type='text' placeholder='' )
                          .col-md-2
                            .form-group
                              label 
                              input#qts1.form-control.round(type='text' placeholder='' onkeyup='CalcCosts1()')
                          .col-md-2
                            .form-group
                              label 
                              input#prix1.form-control.round(type='text' placeholder='' onkeyup='CalcCosts1()') 
                          .col-md-3
                            .form-group
                              label 
                              input#prixtot1.form-control.round(type='text' placeholder='')
                          .col-md-3
                            .form-group
                              label 
                              .input-group
                                label#basic-addon1.input-group-text 3
                                select#choice2.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle

                          .col-md-2
                            .form-group
                              label 
                              input#ut2.form-control.round(type='text' placeholder='' )
                          .col-md-2
                            .form-group
                              label 
                              input#qts2.form-control.round(type='text' placeholder='')
                          .col-md-2
                            .form-group
                              label 
                              input#prix2.form-control.round(type='text' placeholder='' onkeyup='CalcCosts2()') 
                          .col-md-3
                            .form-group
                              label 
                              input#prixtot2.form-control.round(type='text' placeholder='')   
                          .col-md-3
                            .form-group
                              label 
                              .input-group
                                label#basic-addon1.input-group-text 4
                                select#choice3.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle

                          .col-md-2
                            .form-group
                              label 
                              input#ut3.form-control.round(type='text' placeholder='' )
                          .col-md-2
                            .form-group
                              label 
                              input#qts3.form-control.round(type='text' placeholder='')
                          .col-md-2
                            .form-group
                              label 
                              input#prix3.form-control.round(type='text' placeholder='' onkeyup='CalcCosts3()') 
                          .col-md-3
                            .form-group
                              label 
                              input#prixtot3.form-control.round(type='text' placeholder='')   
                          .col-md-3
                            .form-group
                              label 
                              .input-group
                                label#basic-addon1.input-group-text 5
                                select#choice4.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle

                          .col-md-2
                            .form-group
                              label 
                              input#ut4.form-control.round(type='text' placeholder='' )
                          .col-md-2
                            .form-group
                              label 
                              input#qts4.form-control.round(type='text' placeholder='')
                          .col-md-2
                            .form-group
                              label 
                              input#prix4.form-control.round(type='text' placeholder='' onkeyup='CalcCosts4()') 
                          .col-md-3
                            .form-group
                              label 
                              input#prixtot4.form-control.round(type='text' placeholder='')                                                                                                
                              
                             
                          
                          .col-sm-12.d-flex.justify-content-end
                            button.btn.btn-primary.me-1.mb-1(type='submit') Envoyer
                            button.btn.btn-light-secondary.me-1.mb-1(type='reset') Reset

                                               //-rediger paiement ========================================================================================                
              #list-monday.tab-pane.fade.show(role='tabpanel' aria-labelledby='list-monday-list')
                .card-content
                  .card-body
                    form#varpaiment.form.form-horizontal(method='POST' action='/paiement')
                      .form-body
                        .row
                          .col-md-3
                            label Date
                          .col-md-9.form-group
                            input#date.form-control(type='date' name='date' placeholder='date')
                          .col-md-3
                            label Etabli par:
                          .col-md-9.form-group
                            input#etablisseur.form-control(type='text' name='etablisseur' placeholder='Etablisseur')
                          .col-md-3
                            label Nature de la depence
                          .col-md-9.form-group
                            select#naturedepence.form-control(name='naturedépence')
                              option(value='' selected='') Indiquer la nature de la depence
                              option(value='Charge') Charge
                              option(value='Charge') Dettes
                              option(value='Charge') Investissement
                          .col-md-3
                            label Mode de paiment
                          .col-md-9.form-group
                            select#naturedepence.form-control(name='modepaiement')
                              option(value='' selected='') Indiquer la nature de la depence
                              option(value='Charge') Cheque
                              option(value='Charge') Virement
                              option(value='Charge') Espece                             
                          .col-md-12
                            strong pieces jointes                          
                            .form-floating
                            textarea#floatingTextarea.form-control(placeholder='...' name='piecejointe')
                            label
                          hr  
                          .col-md-3
                            strong Beneificiere 
                          .col-md-4.form-group
                            label Nom
                            input#NomBenif.form-control(type='text' name='nombenef' placeholder='Nom')
                          .col-md-5.form-group
                            label Adressse
                            input#addBenif.form-control(type='text' name='adressebenef' placeholder='Nom')
                          hr                         
                          .col-md-3
                            strong Libellé de l'operation
                          .col-md-9.form-group
                            input#libellite.form-control(type='text' name='libellé' placeholder='libellité') 
                          .col-md-3
                            strong   
                          .col-md-3.form-group
                            label Montant en chiffre Da
                            input#Montantc.form-control(type='text' name='montantchiffre' placeholder='libellité')
                          .col-md-6.form-group 
                            label Montant en lettre
                            input#MontantL.form-control(type='text' name='montantlettre' placeholder='libellité')                                                                                         
                            label
                          .col-md-3.form-group 
                            input#hiddenone.form-control.round(type='hidden' name='uuid' placeholder='' value= khtek)                            
                          
                             
                          
                          .col-sm-12.d-flex.justify-content-end
                            button.btn.btn-primary.me-1.mb-1(type='submit') Envoyer
                            button.btn.btn-light-secondary.me-1.mb-1(type='reset') Reset

              #list-tuesday.tab-pane.fade.show(role='tabpanel' aria-labelledby='list-tuesday-list')
                .card-content
                  .card-body
                    form#varreception.form.form-horizontal
                      .form-body
                        .row
                          .col-md-3
                            label Date
                          .col-md-9.form-group
                            input#dateR.form-control(type='date' name='date' placeholder='date')
                          .col-md-3
                            label Site
                          .col-md-9.form-group
                            input#site.form-control(type='text' name='Site' placeholder='Saisir Site')
                          .col-md-3
                            label Code d'article
                          .col-md-9.form-group
                            input#codeA.form-control(type='text' name='CodeArticle' placeholder='Saisir Code ')
                          .col-md-3
                            label Numero de facture
                          .col-md-9.form-group
                            input#numfac.form-control(type='text' name='Numerofacture' placeholder='Saisir Numero')    
                          .col-md-3
                            label Observation
                          .col-md-9.form-group
                            input#observationR.form-control(type='text' name='Observation' placeholder='Saisir observation')   
                          hr  
                          b Nous avons procédé a la reception du Materiel ou equipement suivants:
                          .col-md-12
                            label 
                          .col-md-8
                            .form-group
                            label Designations 
                            .input-group
                                label#basic-addon1.input-group-text 1
                                select#choice.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle
                          .col-md-4
                            .form-group
                            label Quantité
                            input#Qtsr.form-control(type='text' name='Quantite' placeholder='')    
                          .col-md-8
                            .form-group
                            label 
                            .input-group
                                label#basic-addon1.input-group-text 2
                                select#choice1.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle
                          .col-md-4
                            .form-group
                            label 
                            input#Qtsr1.form-control(type='text' name='Quantite' placeholder='') 
                          .col-md-8
                            .form-group
                            label 
                            .input-group
                                label#basic-addon1.input-group-text 3
                                select#choice2.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle
                          .col-md-4
                            .form-group
                            label 
                            input#Qtsr2.form-control(type='text' name='Quantite' placeholder='') 
                          .col-md-8
                            .form-group
                            label 
                            .input-group
                                label#basic-addon1.input-group-text 4
                                select#choice3.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle
                          .col-md-4
                            .form-group
                            label 
                            input#Qtsr3.form-control(type='text' name='Quantite' placeholder='') 
                          .col-md-8
                            .form-group
                            label 
                            .input-group
                                label#basic-addon1.input-group-text 5
                                select#choice4.form-select(name='')
                                    option( selected='' value='')  choisir item
                                    optgroup(label='fourniture') 
                                    optionChaise Chaise
                                    option(value='bureau') Bureau
                                    option#Tableau Tableau
                                    option#bureau bureau
                                    option(id='écran') &eacute;cran
                                    option#ordinateur ordinateur
                                    option#armoire armoire
                                    option(id='cafetière') cafeti&egrave;re
                                    option#clavier clavier
                                    option#souris souris
                                    option#porte porte
                                    option#manteaux manteaux
                                    optgroup(label='Materiel') 
                                    option#Gomme Gomme
                                    option#Crayon Crayon
                                    option#Papier Papier
                                    option#Ancre Ancre
                                    option#Ancre regle
                          .col-md-4
                            .form-group
                            label 
                            input#Qtsr4.form-control(type='text' name='Quantite' placeholder='')                                                                                                                                                   
                          .col-md-12
                            label
                    




                          .col-sm-12.d-flex.justify-content-end
                            button.btn.btn-primary.me-1.mb-1(type='submit') Envoyer
                            button.btn.btn-light-secondary.me-1.mb-1(type='reset') Reset         
                            //-remise

              #list-wednesday.tab-pane.fade.show(role='tabpanel' aria-labelledby='list-wednesday-list')
                .card-content
                  .card-body
                    form#remise.form.form-horizontal(method='POST' action='/remise')
                      .form-body
                        .row
                          .col-md-3
                            label Date
                          .col-md-9.form-group
                            input#dateR.form-control(type='date' name='date' placeholder='date')
                          .col-md-3
                            label Site
                          .col-md-9.form-group
                            input#Site.form-control(type='text' name='Site' placeholder='Saisir Site')
                          .col-md-3
                            label Code d'article
                          .col-md-9.form-group
                            input#CodeA.form-control(type='text' name='CodeArticle' placeholder='Saisir Code ')
                          .col-md-3
                            label Numero de facture
                          .col-md-9.form-group
                            input#Numfac.form-control(type='text' name='numfacture' placeholder='Saisir Numero')      
                          hr  
                          b Nous avons procédé a la reception du Materiel ou equipement suivants:  
                          .col-md-12  

                            .form-group
                            textarea#floatingTextarea.form-control(placeholder='Les items...' rows='5' name='details')
                            label                
                          .col-md-12  
                            b Observations
                            .form-group
                            textarea#floatingTextarea.form-control(placeholder='saisir les observarions' rows='3' name='observations')
                            label                                 
                          hr
                          .col-md-12
                            b Le prenant
                            label
                          .col-md-3
                            label Nom
                          .col-md-9.form-group
                            input#Nomprenant.form-control(type='text' name='nom' placeholder='Saisir Nom')  
                          .col-md-3
                            label prenom
                          .col-md-9.form-group
                            input#Numfac.form-control(type='text' name='prenom' placeholder='Saisir Prenom')  
                          .col-md-3
                            label Fonction
                          .col-md-9.form-group
                            input#Numfac.form-control(type='text' name='fonction' placeholder='Saisir fonction')  
                          .col-md-3
                            label Date
                          .col-md-9.form-group
                            input#dateR2.form-control(type='date' name='date2' placeholder='date')                              
                          .col-md-12
                          .col-md-3.form-group 
                            input#hiddenone.form-control.round(type='hidden' name='uuid' placeholder='' value= khtek)                            
                            label 
                          .col-sm-12.d-flex.justify-content-end
                            button.btn.btn-primary.me-1.mb-1(type='submit') Envoyer
                            button.btn.btn-light-secondary.me-1.mb-1(type='reset') Reset                                                                                    




                            
               

footer
.footer.clearfix.mb-0.text-muted
.float-start
p 2021 &copy; Cosider
.float-end
p
  | Crafted with 
  span.text-danger
    i.bi.bi-heart
  |  by 
  a(href='#') A. Choukri
  script. 
   var terma = '!{khtek}'
script(src='/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
script(src='/vendors/choices.js/choices.min.js')
script(src='/js/pages/form-element-select.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/main.js')
script(src='vendors/fontawesome/all.min.js')
script(src='/js/traitementc.js')

